
params {
   // Paths to set dirs and files
   mergevcf {  
     set1 = "test/example_data/assets/vcf/set1"
     set2 = "test/example_data/assets/vcf/set2"

     dir1 = "test/example_data/genotypes/vcf"
     dir2 = "test/example_data/genotypes/vcf"
   }
   mergepgen {
     set1 = "test/example_data/assets/pgen/set1"
     set2 = "test/example_data/assets/pgen/set2"

     dir1 = "test/example_data/genotypes/pgen"
     dir2 = "test/example_data/genotypes/pgen"
   }


   // // Paths to set files
   // set1 = "assets/set_1"
   // set2 = "assets/set_2"

   // // Paths to set dirs
   // dir1 = "/faststorage/jail/project/ibp_data_ipsych/ipsych_2012/iPSYCH_IBP_Imputed_v_2.1/raw/vcf"
   // dir2 = "/faststorage/jail/project/ibp_data_ipsych/ipsych_2012/iPSYCH_IBP_Imputed_v_2.1/raw/vcf"

  outdir = "out"
  maxvariants = 101966771
}

