
params {
   // Paths to set files
   set1 = "test/example_data/assets/set1"
   set2 = "test/example_data/assets/set2"

   // Paths to set dirs
   dir1 = "test/example_data/genotypes/vcf"
   dir2 = "test/example_data/genotypes/vcf"

   // // Paths to set files
   // set1 = "assets/set_1"
   // set2 = "assets/set_2"

   // // Paths to set dirs
   // dir1 = "/faststorage/jail/project/ibp_data_ipsych/ipsych_2012/iPSYCH_IBP_Imputed_v_2.1/raw/vcf"
   // dir2 = "/faststorage/jail/project/ibp_data_ipsych/ipsych_2012/iPSYCH_IBP_Imputed_v_2.1/raw/vcf"

  outdir = "results"
}

process {
    // Adjust as needed:
    cpus = 2
    memory = "1GB"
    time = "1h"
}

